<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add TER Subject</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Create a TER Subject:</h1>

<!--th:value="${#authentication.getPrincipal().Username}"-->

<form th:action="@{/addTERSubject}"
      th:object="${terSubjectForm}" method="POST">
    Title :
    <input type="text" th:field="*{title}"/>
    <br/>
    Teacher:
    <select name="teacher1">
        <option th:each="teacher1 : ${teachers}"
            th:field="*{teacher1}"
            th:value="${teacher1.lastName}"
            th:utext="${teacher1.firstName}+ ' ' +${teacher1.lastName}"/>
    </select>
    <br/>
    2nd Teacher:
    <select name="teacher2">
        <option th:each="teacher2 : ${teachers}"
                th:field="*{teacher2}"
                th:value="${teacher2.lastName}"
                th:utext="${teacher2.firstName}+ ' ' +${teacher2.lastName}"/>
    </select>
    <br/>
    <input type="submit" value="Create"/>
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>