<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>TER Subject List</title>
  <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>TER Subjects List</h1>
<a href="addTERSubject">Add Subject</a>
<br/><br/>
<div>
  <table border="1">
    <tr>
      <th>Title</th>
      <th>Teacher</th>
      <th>2nd Teacher</th>
    </tr>
    <tr th:each ="terSubject : ${terSubjects}">
      <td th:utext="${terSubject.title}">...</td>
      <td th:utext="${terSubject.teacherLastName}">...</td>
      <td th:utext="${terSubject.secondTeacherLastName}">...</td>
      <td><a th:href="@{/showTERSubjectUpdateForm/{id}(id=${terSubject.idTER})}">Update</a>
        <a th:href="@{/deleteTERSubject/{id}(id=${terSubject.idTER})}">Delete</a></td>
    </tr>
  </table>
</div>
</body>
</html>